@font-face {
  font-family: Rubik-Black;
  src:url(../04_fonts/Rubik-Black.woff) format("woff"),
      url(../04_fonts/Rubik-Black.woff2) format("woff2"),
      url(../04_fonts/Rubik-Black.eot) format("eot"),
      url(../04_fonts/Rubik-Black.ttf) format("ttf");
  font-family: Rubik-Bold;
  src:url(../04_fonts/Rubik-Bold.woff) format("woff"),
      url(../04_fonts/Rubik-Bold.woff2) format("woff2"),
      url(../04_fonts/Rubik-Bold.eot) format("eot"),
      url(../04_fonts/Rubik-Bold.ttf) format("ttf");
}
body {
  margin: 0;
  background: url(../03_images/геометрия.jpg) no-repeat;
  background-size: cover;
  width: 100%;
}
/*Header*/
nav > div {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-content: center;
  height: 45px;
  background: linear-gradient(to bottom,#b2e3ff ,#b2e3ff 30px, #75d8ff) no-repeat;
  padding: 0;

}
/*Menu*/
nav > div > .menu > ul {
  display: grid;
  justify-items: center;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > div > .menu > ul > li {
  border-bottom: 2px transparent solid ;
  padding: 10px 0 10px 1vmin;
}
nav > div > .menu > ul > li > a {
  font-family: Rubik-bold;
  font-size: 13px;
  color:#45455a;
  text-shadow: 2px 2px 2px #6fc4fd;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 1vmin;
}
nav > div > .menu > ul > li:hover {
  transition-duration: 700ms;
  border-bottom: 2px #45455a solid;
}
/*icon*/
nav > div > .icon {
  display: grid;
  justify-content: end;
}
nav > div > .icon > div {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 30px 30px 30px 30px 60px;
}
nav > div > .icon > div > a > i {
  text-decoration: none;
  color:#45455a; ;
  padding: 5px 1vmin;
}
nav > div > .icon > div > a > i:hover {
  transition-duration: 300ms;
  transform: scale(1.3) ;
}
main {
  padding: 30px 10px;
}
.banner {
display: grid;
justify-items: center;
align-items: center;
grid-template-columns: 1fr 2fr 6fr 2fr;
grid-row: 1fr;
gap: 20px;
}
.banner > div {
  background: #fff;
  width: 100%;
  height:100px;
  border-radius: 15px;
  border: 1px #84ceff solid;
}
